@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300;400;500;600&family=Merriweather:ital@0;1&family=Roboto:wght@100&family=Work+Sans:wght@400;500;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Prenav CSS */
.prenav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: flex-end;
}

.prenav img {
  height: 24px;
  width: 24px;
}

.prenav p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 0px;
  margin-bottom: 10px;
}

.mail-call {
  display: flex;
  gap: 24px;
}

.icon-mail {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}

.icon-time {
  display: flex;
  gap: 6px;
  height: 24px;
  align-items: flex-end;
}

/* Navbar Styling */

.main-navbar {
  box-shadow: 0px 24px 34px 0px #00000026;
  height: 82px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}

.logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-links {
  width: 770px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 34px;
  margin: 0;
}

.center-links ul li {
  list-style: none;
}

.center-links ul li a {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  cursor: pointer;
}

.center-links ul li a:hover {
  color: red;
}

.sign-but a {
  text-decoration: none;
}

.sign-but a button {
  height: 49px;
  width: 200px;
  border-radius: 100px;
  color: #ed1c24;
  border: 1px solid #ed1c24;
  background-color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
}

.sign-but a button:hover {
  background-color: #ed1c24;
  color: #fff;
}

.menu-icon {
  display: none;
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .center-links {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #ffff;
    width: 0px;
    height: calc(60vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .center-links.active {
    width: 100%;
  }

  .center-links ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .center-links ul li {
    margin-right: unset;
    align-items: center;
  }
}

/* Main Image Section Styling */

.main-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  position: relative;
}

.text-side {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 586px;
  height: 250px;
  margin-top: 20px;
}

.text-side h1 {
  font-family: Inter;
  width: 100%;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}

.text-side p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}

.text-side button {
  width: 200px;
  height: 54px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 50px;
  border: 1px;
  gap: 10px;
  background: #fff;
  border: 1px solid #ed1c24;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: red;
}

.text-side button:hover {
  background-color: #ed1c24;
  color: #ffff;
}

.image-side {
  width: 760px;
  position: absolute;
  left: 346px;
  top: 210px;
  z-index: -999;
}

.image-side img {
  width: 100%;
}

/* Client Section Styling */

.client-sec {
  height: 286px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.client-sec h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #4d4d4d;
}

.client-sec span {
  color: #d10400;
}

.client-sec p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #717171;
}

.client-brand {
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.client-brand img {
  height: 62px;
  width: 62px;
}

/* Image-LLC Styling */

.image-llc {
  height: 494px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.house-img {
  width: 50%;
}

.house-img img {
  width: 462px;
  height: 370px;
}

.text-side1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-side1 h1 {
  font-family: Inter;
  width: 100%;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}

.text-side1 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}

.text-side1 button {
  width: 200px;
  height: 54px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 50px;
  border: 1px;
  gap: 10px;
  background: #fff;
  border: 1px solid #ed1c24;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: red;
}

.text-side1 button:hover {
  background-color: #ed1c24;
  color: #ffff;
}

/* Assurance-sec Styling */

.Assurance-sec {
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.Assurance-sec h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #d10400;
}

.Assurance-sec p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #717171;
}

.Assurance-sec button {
  width: 210px;
  height: 54px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 50px;
  border: 1px;
  gap: 10px;
  border: 1px solid #ed1c24;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ed1c24;
  color: #ffff;
}

.Assurance-sec button:hover {
  background: #fff;
  color: red;
}

.map-image {
  width: 100%;
  height: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-map {
  gap: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.find-map h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}

.find-map p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #717171;
}

.find-map button {
  width: 200px;
  height: 54px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 50px;
  border: 1px;
  gap: 10px;
  background: #fff;
  border: 1px solid #ed1c24;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: red;
}

.find-map button:hover {
  background-color: #ed1c24;
  color: #ffff;
}

.img-map {
  width: 50%;
}

.img-map img {
  width: 100%;
  height: 400px;
}

.needs-sec {
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-color: #fbfbfb;
}

.needs-sec h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #d10400;
}

.needs-sec p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #717171;
}

.needs-sec button {
  width: 210px;
  height: 54px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 50px;
  border: 1px;
  gap: 10px;
  border: 1px solid #ed1c24;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ed1c24;
  color: #ffff;
}

.needs-sec button:hover {
  background: #fff;
  color: red;
}

/* Footer Section Styling */

.last-sec {
  height: 334px;
  display: flex;
  align-items: center;
}

.f-logo {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.f-logo img {
  width: 166.25px;
  height: 50px;
}

.f-logo p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 25px; */
  letter-spacing: 0em;
  text-align: left;
  color: #313131;
}

.social-icones {
  display: flex;
  gap: 20px;
}

.social-icones img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.f-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 16%;
}

.f-links h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px;
}

.f-links ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
}

.f-links li {
  list-style: none;
  justify-content: left;
}

.f-links a {
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #313131;
}

.f-searchbar {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  height: 190px;
}

.f-searchbar h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.search-bar {
  width: 255px;
  border: 1px solid #fbd2d3;
  height: 40px;
  border-radius: 8px;
  /* opacity: 20%; */
  background-color: #fbd2d3;
  padding-left: 15px;
}

.search-bar input {
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* About Us Page Styling */

.about-main {
  background-image: url("/public/Images/image 9.png");
  height: 80vh;
  /* opacity: 0.5; */
  filter: blur(10);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  gap: 10px;
  font-family: Inter;
}

.about-cont button {
  width: 20%;
  height: 54px;
  border-radius: 50px;
  font-family: Inter;
  outline: none;
  border: 1px solid #ed1c24;
  color: #ed1c24;
  background-color: #ffff;
  font-weight: bold;
}

.about-cont button:hover {
  border: 1px solid #ed1c24;
  background-color: #ed1c24;
  color: #ffff;
}

/* Contact Us Page Styling */

.contact-cont {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: Inter;
}

.contact-cont form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.contact-cont form h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  color: #4d4d4d;
}

.contact-cont form input {
  width: 75%;
  height: 50px;
  font-family: Inter;
  padding-left: 15px;
  outline: none;
  border: 1px solid #ed1c24;
}

.contact-cont form input::placeholder {
  color: #4d4d4d;
}

.contact-cont form textarea {
  width: 75%;
  height: 100px;
  font-family: Inter;
  border: 1px solid #ed1c24;
  padding-left: 15px;
  padding-top: 10px;
  outline: none;
}

.contact-cont form button {
  width: 40%;
  height: 54px;
  border-radius: 50px;
  font-family: Inter;
  outline: none;
  border: 1px solid #ed1c24;
  background-color: #ffff;
  font-weight: bold;
  color: #ed1c24;
}

.contact-cont form button:hover {
  border: 1px solid #ed1c24;
  background-color: #ed1c24;
  color: #ffff;
}

/* slider styling */

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SignUp Styling */

select {
  width: 75%;
  height: 50px;
  font-family: Inter;
  border: 1px solid #ed1c24;
  padding-left: 15px;
  outline: none;
}

/* About section */

.about-btn {
  width: 210px;
  height: 54px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 50px;
  border: 1px;
  gap: 10px;
  border: 1px solid #ed1c24;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ed1c24;
  color: #ffff;
  margin-top: 32px;
}

.about-btn:hover {
  background: #fff;
  color: red;
}

.about-h {
  color: #4d4d4d;
  font-weight: 600;
  font-size: 48px;
}

.about-para1 {
  width: 716px;
  height: 72px;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;

  color: #4d4d4d;
}

.about-p2 {
  width: 716px;
  margin-top: 26px;
  font-size: 20px;
  font-weight: 400;
  color: #4d4d4d;
}

.about {
  height: 438px;
  margin-top: 150px;
  font-size: 20px;
  font-weight: 400;
}

/* About section */

/* Contact */

.contact {
  border-radius: 3.125rem;
  background: #fff;
  box-shadow: 0px 141px 200px -80px rgba(153, 153, 153, 0.3);
  margin: 9rem 0 5rem 0;
  overflow: hidden;
  height: 56.25rem;
}

.conatct-cc {
  display: flex;
  align-items: center;
}
.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 1.2rem;
}
.contact-form span {
  color: #ed1c24;
  font-size: 48px;
}
.contact-form h2 {
  font-size: 48px;
  color: #000000;
}
.contact-form p {
  width: 545px;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  margin-bottom: 25px;
}
.contact-form input {
  display: flex;
  width: 34.0625rem;
  height: 3.125rem;
  padding: 0.75rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  color: #828282;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
  border: 1px solid #e0e0e0;
  outline: none;
}

.contact-form select {
  display: flex;
  width: 34.0625rem;
  height: 3.125rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  color: #000;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.00875rem;
}

.contact-map {
  position: relative;
  left: 262px;
  width: 50%;
}
.rectangle {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.i2 {
  position: absolute;
  width: 34.0625rem;
  height: 43.75rem;
  right: 375px;
  top: 100px;
}
.c-btn {
  background-color: #ed1c24;
  width: 545px;
  height: 50px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.c-btn:hover {
    border: 1px solid #ed1c24;
    color: #ed1c24;
    background-color: #fff;
}

.lastpart-contact {
    display: flex;
    width: 545px;
    gap: 2.35rem;
    height: 130px;

}

.conatct-p {
    display: flex;
    gap: 0.9rem;
    width: 130px;
    /* height: 150px; */
    align-items: center;
}

.conatct-p img {
    width: 1.75rem;
    height: 1.75rem;
}

.phone-information {
    display: flex;
    flex-direction: column;
    
}

.phone-information h6 {
    color: #000;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.01625rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.phone-information p {
    color: #ED1C24;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.01625rem;
    margin-bottom: 0px;
}

/* Contact */
